@font-face {
	font-family: 'Ubuntu';
	src: url('/multistep-form/assets/fonts/Ubuntu-Regular.ttf') format('truetype');
	font-weight: 400;
}
@font-face {
	font-family: 'Ubuntu';
	src: url('/multistep-form/assets/fonts/Ubuntu-Medium.ttf') format('truetype');
	font-weight: 500;
}
@font-face {
	font-family: 'Ubuntu';
	src: url('/multistep-form/assets/fonts/Ubuntu-Bold.ttf') format('truetype');
	font-weight: 700;
}

:root {
	/*Primary*/
	--primary-blue: hsl(213, 96%, 18%);
	--purplish-blue: hsl(243, 100%, 62%);
	--pastel-blue: hsl(228, 100%, 84%);
	--light-blue: hsl(206, 94%, 87%);
	--strawberry-red: hsl(354, 84%, 57%);

	/* Neutral */
	--cool-gray: hsl(231, 11%, 63%);
	--light-gray: hsl(229, 24%, 87%);
	--magnolia: hsl(217, 100%, 97%);
	--alabaster: hsl(231, 100%, 99%);
	--white: hsl(0, 0%, 100%);
}

/******************/
/* GENERAL STYLES */
/******************/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

*:focus-visible {
	outline: none;
	box-shadow: 0 0 0 0.2rem var(--primary-blue);
}

html {
	font-size: 62.5%;
}

body {
	min-height: 100dvh;
	font-family: 'Ubuntu';
	background-color: var(--magnolia);
}

ul {
	list-style: none;
}

p {
	font-size: 1.6rem;
}

section.hidden,
.hidden {
	display: none;
	opacity: 0;
	visibility: hidden;
}

.container {
	display: flex;
	flex-direction: column;
	min-height: 100dvh;
}

.input-error {
	display: none;
	color: var(--strawberry-red);
	font-size: 1.3rem;
	font-weight: 700;
}

.content-controls.invalid input {
	border: 1px solid var(--strawberry-red);
}

.content-controls.invalid .input-error {
	display: block;
}

.step-content-body {
	display: flex;
	flex-direction: column;
	gap: 1.2rem;
}

/*******************/
/* FORM STEPS LIST */
/*******************/

.form-steps-box {
	background: url('/multistep-form/assets/images/bg-sidebar-mobile.svg');
	background-size: cover;
	background-repeat: no-repeat;
	height: 17.2rem;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	padding-top: 3.2rem;
	margin-bottom: -9rem;
}

.steps {
	margin-inline: auto;
	display: flex;
	gap: 1.6rem;
}

.step-number {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 3.3rem;
	aspect-ratio: 1;
	border-radius: 50%;
	border: 1px solid var(--light-blue);
	font-weight: 700;
	font-size: 1.4rem;
	line-height: 3.1rem;
	color: var(--magnolia);
}

.step-text {
	display: none;
	visibility: hidden;
}

.step--active .step-number {
	background-color: var(--light-blue);
	color: var(--primary-blue);
}

/****************/
/* FORM CONTENT */
/****************/

form {
	flex: 1;
	display: flex;
	flex-direction: column;
}

.form-content-box {
	padding: 1.6rem 1.6rem 2.4rem 1.6rem;
	position: relative;
	flex: 1;
}

.form-content {
	background-color: var(--white);
	border-radius: 1rem;
	padding: 3rem 2.4rem 3.2rem 2.4rem;
	display: flex;
	flex-direction: column;
	gap: 2.2rem;
}

.step-content-header {
	display: flex;
	flex-direction: column;
	gap: 0.7rem;
}

.step-content-heading {
	line-height: 3.3rem;
	font-size: 2.5rem;
	letter-spacing: -0.5px;
	font-weight: 700;
	color: var(--primary-blue);
}

.step-content-description {
	color: var(--cool-gray);
	line-height: 2.5rem;
	font-size: 1.8rem;
	letter-spacing: -0.9px;
}

.step--one.form-content {
	gap: 2.1rem;
}

.step--one .step-content-body {
	gap: 1.5rem;
}

.step--one .content-controls {
	display: flex;
	flex-direction: column;
	gap: 0.4rem;
}

.input-description {
	display: flex;
	justify-content: space-between;
}

.step--one label {
	font-size: 1.3rem;
	letter-spacing: -0.6px;
	color: var(--primary-blue);
}

.step--one input {
	font-size: 1.6rem;
	padding: 1rem 1.5rem;
	border: 1px solid var(--light-gray);
	border-radius: 0.4rem;
	font-family: inherit;
	color: var(--primary-blue);
	font-weight: 700;
	letter-spacing: -0.3px;
}

.step--one input:focus-visible {
	box-shadow: 0 0 0 0.1rem var(--primary-blue);
}

.step--one input::placeholder {
	color: var(--cool-gray);
	font-size: 1.6rem;
	letter-spacing: -0.5px;
	font-weight: 500;
}

/********************/
/* SELECT PLAN STEP */
/********************/

.plan-type {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	border: 1px solid var(--light-gray);
	padding: 1.6rem 1.6rem 1.9rem 1.5rem;
	border-radius: 8px;
	gap: 1.4rem;
}

.plan-type:has(input:checked) {
	background-color: var(--magnolia);
	border-color: var(--purplish-blue);
}

.step--two input {
	width: 0;
	height: 0;
	visibility: hidden;
	display: none;
}

.plan-icon {
	width: 4rem;
}

.plan-description {
	display: flex;
	flex-direction: column;
	gap: 0.8rem;
}

.plan-name {
	color: var(--primary-blue);
	font-weight: 700;
	letter-spacing: -0.2px;
	line-height: 1.3;
}

.plan-price {
	font-size: 1.4rem;
	color: var(--cool-gray);
	line-height: 0.7;
}

.plan-discount {
	font-size: 1.3rem;
	color: var(--primary-blue);
}

.step-content-subscriptions {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 2.5rem;
	background-color: var(--magnolia);
	padding: 1.4rem;
	font-weight: 700;
	color: var(--cool-gray);
	border-radius: 10px;
	margin-top: 2px;
}

.subscription--monthly,
.subscription--yearly {
	font-size: 1.4rem;
	letter-spacing: -0.2px;
}

.step-content-subscriptions:has(input:not(:checked)) > p:nth-child(1) {
	color: var(--primary-blue);
}
.step-content-subscriptions:has(input:checked) > p:nth-child(3) {
	color: var(--primary-blue);
}
.step--two:has(#plan-type-btn:checked) .plan-price--month {
	display: none;
	visibility: hidden;
	opacity: 0;
}

.step--two:has(#plan-type-btn:not(:checked)) .plan-price--year {
	display: none;
	visibility: hidden;
	opacity: 0;
}

.plan-discount {
	display: none;
	visibility: hidden;
	opacity: 0;
}

.step--two:has(#plan-type-btn:checked) .plan-discount {
	display: block;
	visibility: visible;
	opacity: 1;
	letter-spacing: -0.5px;
	line-height: 1.1;
	margin-top: 0.1rem;
}

.plan-switch {
	display: flex;
	align-items: center;
}

#plan-type-btn {
	position: relative;
	opacity: 0;
	width: 0;
	height: 0;
}

#plan-type-btn ~ span {
	position: relative;
	display: inline-block;
	height: 2rem;
	width: 3.8rem;
	background-color: var(--primary-blue);
	border-radius: 10000px;
}

#plan-type-btn ~ span::before {
	position: absolute;
	content: '';
	background-color: var(--white);
	height: 1.2rem;
	aspect-ratio: 1;
	top: 4px;
	left: 4px;
	border-radius: 50%;
	transition: transform 0.2s ease-in;
}

#plan-type-btn:checked ~ span::before {
	content: '';
	position: absolute;
	transform: translateX(18px);
	background-color: var(--white);
}

/****************/
/* ADD ONS STEP */
/****************/

.step--three .content-controls {
	border: 1px solid var(--light-gray);
	border-radius: 8px;
}

.step--three .content-controls:has(input:checked) {
	border: 1px solid var(--purplish-blue);
	background-color: var(--alabaster);
}

.step--three label {
	width: 100%;
	display: flex;
	align-items: center;
	border-radius: 8px;
	padding: 1.5rem;
}

.step--three input {
	width: 2rem;
	aspect-ratio: 1;
	font-size: 1rem;
	padding: 2rem;
}

.add-on-description {
	display: flex;
	flex-direction: column;
	margin-left: 1.6rem;
	gap: 0.4rem;
}

.add-on-name {
	color: var(--primary-blue);
	font-weight: 700;
	font-family: inherit;
	font-size: 1.5rem;
	line-height: 0.8;
	letter-spacing: -0.7px;
}

.add-on-text {
	font-size: 1.25rem;
	color: var(--cool-gray);
	letter-spacing: -0.3px;
}

.add-on-price {
	font-size: 1.3rem;
	color: var(--purplish-blue);
	margin-left: auto;
	letter-spacing: -0.4px;
}

/*********************/
/* FINISHING UP STEP */
/*********************/

.summary {
	padding: 0.4rem 1.6rem 1.8rem 1.6rem;
	background-color: var(--alabaster);
	color: var(--cool-gray);
	display: flex;
	flex-direction: column;
	border-radius: 10px;
}

.summary-plan {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-top: 1.5rem;
}

.summary-description {
	display: flex;
	flex-direction: column;
}

.summary-name {
	font-size: 1.4rem;
}

.summary-price {
	color: var(--primary-blue);
	font-size: 1.4rem;
	font-weight: 500;
}

.plan-change-btn {
	display: none;
	background-color: transparent;
	border: 0 solid;
	margin-right: auto;
	text-decoration: underline;
	color: inherit;
	font-family: inherit;
	font-size: 1.4rem;
	letter-spacing: 0.2px;
	text-decoration-thickness: 2px;
}

.summary-total {
	display: flex;
	justify-content: space-between;
	color: var(--cool-gray);
	padding: 1.5rem 1.6rem 0 1.6rem;
}

.summary-total p {
	font-size: 1.4rem;
	font-weight: 500;
	letter-spacing: -0.1px;
}

.summary-total p:nth-child(2) {
	color: var(--purplish-blue);
	font-weight: 700;
	font-size: 1.6rem;
	margin-top: -0.2rem;
	letter-spacing: 0.1px;
}

.summary-plan.active {
	border-bottom: 1px solid var(--light-gray);
	padding: 1.3rem 0;
	padding-top: 1.3rem;
	font-weight: 700;
	color: var(--primary-blue);
	line-height: 1.5;
}

.summary-plan.active .summary-price {
	font-weight: 700;
	margin-top: 0.8rem;
}

.summary-plan.active .plan-change-btn {
	display: block;
	color: var(--cool-gray);
}

.summary-plan.active .summary-name {
	letter-spacing: -0.1px;
}

/*********************/
/* THANK YOU SECTION */
/*********************/

.step--five {
	text-align: center;
}

.step--five.form-content {
	padding-top: 8rem;
	padding-bottom: 8rem;
	gap: 0.7rem;
}

.step--five .step-content-header {
	gap: 2.1rem;
}

.step--five img {
	width: 5.6rem;
	rotate: 1;
	margin: 0 auto;
}

.finish-text {
	line-height: 2.5rem;
	color: var(--cool-gray);
}

/****************/
/* FORM BUTTONS */
/****************/

.form-buttons-box {
	display: flex;
	justify-content: space-between;
	background-color: var(--white);
	padding: 1.6rem;
}

.btn {
	font-size: 1.4rem;
	border: none;
	letter-spacing: 0.1px;
	padding: 1.2rem 1.6rem;
	font-weight: 500;
	border-radius: 4px;
	font-family: inherit;
}

.btn--next {
	background-color: var(--primary-blue);
	color: var(--magnolia);
}

.btn--next:hover {
	filter: brightness(1.4);
}

.btn--next[type='submit'] {
	background-color: var(--purplish-blue);
}

.btn.btn--prev {
	color: var(--cool-gray);
	background-color: var(--white);
	padding: 1.2rem 0;
}

/* min-width 944px */

@media (min-width: 59em) {
	body {
		height: 100vh;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.container {
		width: 94rem;
		flex-direction: row;
		min-height: unset;
		height: 60rem;
		padding: 1.6rem;
		border-radius: 10px;
		background-color: var(--white);
		gap: 1.6rem;
	}

	.form-steps-box {
		background: url('/multistep-form/assets/images/bg-sidebar-desktop.svg');
		width: 27.4rem;
		height: 56.8rem;
		justify-content: flex-start;
		padding: 4rem 3.2rem;
	}

	.steps {
		display: flex;
		flex-direction: column;
		margin-inline: unset;
		gap: 3.2rem;
	}

	.steps li {
		display: flex;
		gap: 1.6rem;
	}

	.step-text {
		display: flex;
		gap: 0.5rem;
		flex-direction: column;
		text-transform: uppercase;
		visibility: visible;
	}

	.step-subheading {
		color: var(--pastel-blue);
		font-size: 1.3rem;
		letter-spacing: -0.5px;
		line-height: 1;
	}

	.step-heading {
		line-height: 1;
		font-size: 1.4rem;
		font-weight: 500;
		color: var(--magnolia);
		letter-spacing: 1.4px;
	}

	.form-content-box {
		padding: 0 6rem;
	}

	.form-content {
		top: 0;
		padding: 4.4rem 2.4rem;
		gap: 3.2rem;
	}

	.step-content-header {
		gap: 0.7rem;
		letter-spacing: -1px;
	}

	.step-content-heading {
		font-size: 3.2rem;
		letter-spacing: 0px;
		line-height: 2.8rem;
	}

	.step-content-description {
		letter-spacing: -0.9px;
		line-height: 3.7rem;
	}

	.step--one .step-content {
		gap: 2.4rem;
	}

	.step--one.form-content {
		gap: 3.2rem;
	}

	.step--one .step-content-body {
		gap: 2.4rem;
	}

	.step--one .content-controls {
		gap: 0.8rem;
	}

	.step--one label {
		font-size: 1.4rem;
		letter-spacing: 0;
	}

	.step--one input {
		padding: 1.4rem 1.5rem;
		border-radius: 0.8rem;
		cursor: pointer;
	}

	.input-error {
		font-size: 1.4rem;
	}

	.step--one input:hover {
		border-color: var(--purplish-blue);
	}

	.step--one input::placeholder {
		font-weight: 500;
		letter-spacing: -0.01px;
	}

	.form-buttons-box {
		padding: 1.6rem 8.4rem;
		display: flex;
		justify-content: space-between;
	}

	.btn {
		padding: 1.5rem 2.4rem;
		border-radius: 0.8rem;
		font-size: 1.6rem;
		line-height: 1.1;
		cursor: pointer;
	}

	.btn--prev:hover {
		color: var(--primary-blue);
	}

	.step--two .step-content-body {
		flex-direction: row;
		justify-content: space-between;
		gap: 1.8rem;
	}

	.step--two .content-controls {
		flex: 1;
	}

	.plan-type {
		flex-direction: column;
		padding: 1.9rem 1.5rem 1.6rem 1.5rem;
		flex-direction: column;
		justify-content: space-between;
		gap: 4.2rem;
		cursor: pointer;
	}

	.plan-type:hover {
		border-color: var(--purplish-blue);
	}

	.plan-name {
		font-weight: 500;
		letter-spacing: -0.5px;
		font-size: 1.7rem;
		line-height: normal;
	}

	.plan-description {
		gap: 1rem;
	}

	.plan-description p.plan-discount {
		font-size: 1.3rem;
		letter-spacing: -0.6px;
	}

	.step-content-subscriptions {
		margin: 0;
		padding-right: 2.7rem;
	}

	.step--three .step-content-body {
		gap: 1.6rem;
	}

	.step--three label {
		padding: 2rem 2.3rem;
		cursor: pointer;
	}

	.step--three .content-controls:hover {
		border-color: var(--purplish-blue);
	}

	.step--three .add-on-description {
		margin-left: 2.4rem;
		gap: 0.7rem;
	}

	.step--three .add-on-name {
		font-size: 1.6rem;
		line-height: 1;
		letter-spacing: -0.2px;
	}

	.step--three .add-on-text {
		font-size: 1.4rem;
		letter-spacing: 0px;
	}

	.add-on-price {
		font-size: 1.5rem;
		letter-spacing: -0.5px;
	}

	.plan-change-btn {
		cursor: pointer;
	}

	.step--four .plan-change-btn:hover {
		color: var(--purplish-blue);
	}

	.summary {
		padding: 0 2.4rem 2.4rem 2.4rem;
	}

	.summary-plan.active {
		padding: 2.5rem 0;
		padding-top: 1.7rem;
	}

	.summary-plan.active .summary-name {
		letter-spacing: -0.2px;
		font-size: 1.6rem;
	}

	.summary-plan.active .summary-price {
		margin-top: 0.6rem;
		letter-spacing: 0.2px;
		color: var(--primary-blue);
	}
	.summary-description {
		gap: 0.3rem;
	}

	.summary-plan {
		padding-top: 1.8rem;
	}

	.summary-price {
		font-size: 1.6rem;
		letter-spacing: -1.1px;
		color: var(--cool-gray);
	}

	.summary-total {
		align-items: center;
		padding: 1.3rem 2.4rem 0 2.4rem;
	}

	.summary-total p:nth-child(2) {
		font-size: 2rem;
		margin-top: 0;
	}

	.step--five.form-content {
		padding-top: 16.5rem;
		gap: 2rem;
	}

	.step--five img {
		width: 8rem;
	}

	.step--five .step-content-header {
		gap: 3.6rem;
	}
}
